[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ImageCap
Comment=Image caption
Exec=imagecap %f
Icon=image-x-generic
Terminal=false
Categories=Graphics;Viewer;Photography;
MimeType=inode/directory;image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;
